body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; background: rgb(37,108,228);
  background: linear-gradient(90deg, rgba(37,108,228,1) 20%, rgba(27,51,171,1) 40%, rgba(24,49,138,1) 60%, rgba(14,28,88,1) 80%, rgba(57,17,158,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
